<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de usuários</title>

        <style>

            body{
                background-color: blueviolet;  /*#1A181B*/
                margin: 0px;
                /*font-family: Arial, sans-serif;*/
            }

            .cad{

                background-color: blue; /*#564D65*/
                width: 400px;
                height: auto;
                border: 5px solid; 
                border-radius: 20px;
                margin: 30px auto ;
                color: #fff;
                padding: 30px;    
                padding-right: 0px;
                
            }

            .BotaoMenuList,.deletar,.BotaoCad,.BotaoMenuCad{

                background-color: rgba(220, 20, 113, 0.356);
                border-radius: 20px;
                text-align: center;
                padding: 10px 20px;
                color: #fff;
                border: none;
                cursor: pointer;
            }

            .BotaoMenuCad{  

                margin-left: 110px; 
            
            }

            p{
            /* font-family: Arial, Helvetica, sans-serif */
            }
            
            input{

                border: none;
                border-radius: 5px;
                width: 300px;
                height: 30px;
            }

        </style>

    </head>

    <body>

        {{{body}}}
        
    </body>

</html>