
<div class="cad">

    <form action = "/table" method = "POST">
        
        <p> Nome:</p>
        <input type="text" name="User_name" placeholder="Nome do usuários..."> 

        <p> CPF:</p>
        <input type="text" name="User_cpf" placeholder="Senha do usuários..." >

        <p> Email: </p>
        <input type="email" name="User_email" placeholder="Email do usuários...">

        <p>Telefone: </p>
        <input type="number" name="User_telephone" placeholder="Telefone do usuários..."> <br>

        <br>
        <button title="Cadastrar Usuário" class="BotaoCad" type="submit">Cadastrar</button>

    </form>

    <a href="/menu" title="Acessar a página inicial"> <button class="BotaoMenuCad" >Voltar para o menu </button></a>

</div>

