<h1> Sistema de cadastramento de Usuários </h1>

<a href="/ListaTabela" title="Acessar Usuários Cadastrados"> <button type="submit"> Visualizar Usuários Cadastrados </button> </a> 
<a href="/usuario" title="Acessar Área de cadastramento"> <button type="submit"> Cadastrar Usuário </button> </a> 